# IMPORTING

In [1]:
import pandas as pd
import numpy as np

In [62]:
df = pd.read_csv('../data/data_cleaned.csv')
df.drop('Unnamed: 0',axis=1,inplace=True)
df.head()

,id,amount_tsh,funder,gps_height,installer,longitude,latitude,wpt_name,basin,subvillage,...,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group,status_group,day_of_year,month
0,69572,6000.0,Roman,1390,Roman,34.938093,-9.856322,none,Lake Nyasa,Mnyusi B,...,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe,functional,73,3
1,8776,0.0,Grumeti,1399,GRUMETI,34.698766,-2.147466,Zahanati,Lake Victoria,Nyamara,...,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe,functional,65,3
2,34310,25.0,Lottery Club,686,World vision,37.460664,-3.821329,Kwa Mahundi,Pangani,Majengo,...,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe,functional,56,2
3,67743,0.0,Unicef,263,UNICEF,38.486161,-11.155298,Zahanati Ya Nanyumbu,Ruvuma / Southern Coast,Mahakamani,...,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe,non functional,28,1
4,19728,0.0,Action In A,0,Artisan,31.130847,-1.825359,Shuleni,Lake Victoria,Kyanyamisa,...,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe,functional,194,7

In [63]:
# Safeguarding a copy
df2 = df.copy()

# THE HOLY LOOP

In [65]:
# Interrupted it ignore it

In [64]:
for i in ['funder', 'subvillage']:
    vc = df[i].value_counts()
    names = list(vc.index)
    values = list(vc.values)
    df[i].replace(names, values, inplace=True)
    df.rename(columns = {i : f'{i}_freq'}, inplace=True)

KeyboardInterrupt:

In [55]:
df.status_group.value_counts(normalize=True)

functional                 0.543021
non functional             0.383862
functional needs repair    0.073117
Name: status_group, dtype: float64

# NOTES TO SELF

**Try this in comparison to comparison to Abhineet's method. AKA: Make 5 dummies for the top 5 frequency of funders. Any well not funded by those top 5 would have 0's across the board.**

# ABHINEET"S METHOD

In [60]:
df2 = df.copy()

In [67]:
df2.funder.nunique()

1894

In [69]:
df2.funder.value_counts()[:10]

Government Of Tanzania    9602
Danida                    3309
Hesawa                    2337
Rwssp                     1477
Kkkt                      1358
World Vision              1330
World Bank                1323
Unicef                    1130
Tasaf                      931
District Council           884
Name: funder, dtype: int64

In [93]:
# DONT DROP FIRST CAUSE NOT DOING LINEAR REG. CAN DO MULTICOLINEARITY CHECK LATER AFTER BASELINE MODEL
pd.get_dummies(data=df2['status_group'])

       functional  functional needs repair  non functional
0               1                        0               0
1               1                        0               0
2               1                        0               0
3               0                        0               1
4               1                        0               0
...           ...                      ...             ...
59024           1                        0               0
59025           1                        0               0
59026           1                        0               0
59027           1                        0               0
59028           1                        0               0

[59029 rows x 3 columns]

In [103]:
fund_idx = df2.funder.value_counts().index
fund_idx[:5]

Index(['Government Of Tanzania', 'Danida', 'Hesawa', 'Rwssp', 'Kkkt'], dtype='object')

In [105]:
pd.get_dummies(data = df2['funder'[fund_idx[:5]]])

TypeError: string indices must be integers

In [96]:
df2.funder.value_counts()[:5]

Government Of Tanzania    9602
Danida                    3309
Hesawa                    2337
Rwssp                     1477
Kkkt                      1358
Name: funder, dtype: int64